@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.glass {
  /* From https://css.glass */
  background: rgba(38, 53, 136, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(15, 28, 218, 0.6);
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
  border: 1px solid rgb(0, 0, 0);
}

.glass-btn {
  background: rgba(41, 19, 141, 0.5);
  box-shadow: 0 8px 32px 0 rgba(15, 28, 218, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

progress::-webkit-progress-bar {
  background: transparent;
}
progress::-webkit-progress-value {
  background: linear-gradient(to right, #3f2086, #747474);
  background-attachment: fixed;
}
progress::-moz-progress-bar {
  background: linear-gradient(to right, #3f2086, #747474);
  background-attachment: fixed;
}
